@import "tailwindcss";

:root {
  --primary: #05070A;
  --soft-surface: #F6F8FA;
  --gray: #7A8493;
  --graphite: #22262D;
  --border-gray: #717375;
}

@theme inline {
  --font-sans: var(--font-manrope);
  --color-primary: var(--primary);
  --color-soft-surface: var(--soft-surface);
  --color-gray: var(--gray);
  --color-graphite: var(--graphite);
  --color-border-gray: var(--border-gray);
  --container-padding: 1rem;
}

@layer base {
  .container {
    padding-inline: var(--container-padding);
  }
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

section {
  @apply mx-auto max-w-7xl px-6 py-16;
}